<div class="py-4 burger-menu">
  <i class="fas fa-bars fa-2x"></i>
  <%# <i class="fas cross fa-2x"></i> %>
</div>
<div class="navbar nav-grab">
  <a href="/">DAMON ROBERTS</a>
  <div class="nav__links">
    <a href="/projects">WORK</a>
    <a href="/abouts">ABOUT</a>
    <a href="/contacts">CONTACT</a>
  </div>
</div>