<div class="banner"
  style="background-image: linear-gradient(#50a37983,rgba(0,0,0,0.6)), url('<%= cl_image_path "https://res.cloudinary.com/dc1w9349i/image/upload/v1613937246/perso/fuji_o4tfaa.jpg" %>');">
  <div class="container">
  <div>
    <h1>CONTACT</h1>
    <p>Contact me for work or any further questions you might have.</p>
  </div>
  <div>
    <p class = "contact-info">Email: damonspencerroberts@gmail.com</p>
    <p class = "contact-info">Phone: +44 7436 213497</p>
    <a href="https://www.linkedin.com/in/damon-roberts1997/" target = "_blank" class="btn">LINKEDIN</a>
  </div>
  </div>
</div>