<div class="information">
  <div class="information-content">
    <p>
      I'm
      <span class="home__name">
        Damon Roberts.
        <%= cl_image_tag("https://res.cloudinary.com/dc1w9349i/image/upload/v1613919935/perso/me_crrp2a.jpg", class: "home__img me", alt: "me-img") %>
      </span><br>
      A Full Stack Web Developer based in
      <span class="home__name">
        london.
        <%= cl_image_tag("https://res.cloudinary.com/dc1w9349i/image/upload/v1613919937/perso/phone_edc4cj.jpg", class: "home__img brit", alt: "brit-img") %>
      </span><br>
      I love
      <span class="home__name">
        programming
        <%= cl_image_tag("https://res.cloudinary.com/dc1w9349i/image/upload/v1613919942/perso/code_vlmtfe.jpg", class: "home__img code", alt: "code-img") %>
      </span>
      and mixing the creative<br>
      with the technical.<br>
      Let me know what I can do for you.
    </p>
    <div class="buttons">
      <a href="/projects" class="btn">VIEW MY WORK</a>
      <a href="https://www.linkedin.com/in/damon-roberts1997/" class="btn">LINKEDIN</a>
    </div>
  </div>
</div>
