<div class="information">
  <div class="information-content">
    <p>
      I'm
      <span class="home__name">
        Damon Roberts.
        <img class="home__img me" src="#" alt="home-img">
      </span><br>
      A Full Stack Web Developer based in
      <span class="home__name">
        london.
        <img class="home__img brit" src="# alt="home-img">
      </span><br>
      I love
      <span class="home__name">
        programming
        <img class="home__img code" src="#" alt="home-img">
      </span>
      and mixing the creative<br>
      with the technical.<br>
      Let me know what I can do for you.
    </p>
    <div class="buttons">
      <a href="" class="btn">VIEW MY WORK</a>
      <a href="" class="btn">LINKEDIN</a>
    </div>
  </div>
</div>
