.buttons {
  display: flex;
}

.btn {
  padding: 10px 30px;
  border: 1px solid $light-gray;
  text-decoration: none;
  color: $light-gray;
  font-size: 1.25rem;
  border-radius: 2px;
  margin-right: 25px;
  transition: background-color 1.2s;
}

.btn:hover {
  background-color: $light-gray;
  color: $green;
}