.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 20px 50px;
  width: 100%;
  position: fixed;
  transition: background-color 0.8s;
}

.nav-scroll-down {
  background-color: $green;
  z-index: 1;
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar a {
  color: $light-gray;
  text-decoration: none;
  transition: color 0.8s;
}

.navbar a:hover {
  color: $purple;
}

.nav__links a {
  padding: 25px;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }

  .navbar-show {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    width: 100%;
    position: fixed;
    background-color: $green;
    z-index: 1;
  }
  
  .nav__links {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-show a {
    color: $light-gray;
    text-decoration: none;
    transition: color 0.8s;
  }
  
  .navbar-show a:hover {
    color: $purple;
  }
  
  .nav__links a {
    padding: 25px;
  }
}
