.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0;
}

.nav__links {
  display: flex;
  align-items: center;
}

.navbar a {
  color: $light-gray;
  text-decoration: none;
  transition: color 1s;
}

.navbar a:hover {
  color: $purple;
}

.nav__links a {
  padding: 25px;
}
